@import './base.css';

body{
  margin: 0 auto;
  background-color: rgb(244,244,252);
}

.page-wrapper {
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}
